

*{
    margin:0;
    padding: 0;
}
nav {
    width: 100%;
    height: 60px;
    background-color: rgba(59, 59, 59,0.9);
}
nav p{
    font-family: Arial;
    color: #ffff;
    font-size: 24px;
    line-height: 55px;
    float:left;
    padding:0px 20px;
}
nav ul{
    float:left;
}
nav ul li{
    float:left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial;
    color:#ffff;
    font-size: 14px;
    padding: 21px 14px;
    border-right:2px solid black;
    text-decoration: none;
}
nav ul li ul{
    display: none;

    position: absolute;
    background-color: rgba(59, 59, 59,0.96);
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;
    
}
nav ul li ul li {
    width: 120px;
    border-radius: 4px;
 }
nav ul li ul li a{
    padding: 12px 14px;
 }

nav ul li a:hover{
    background-color:rgba(24, 24, 24,0.55);
    max-width: 54px;
}


nav ul li ul li a:hover{
    background-color:rgba(24, 24, 24,0.55);
    max-width: 120px;
    border-radius: 4px;
}


#test1 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}
#test1 {
    background:violet;
}

#test1 ::selection{
    color: #ffff;
    background: violet;
}
#test1 .wrapper{
    position:absolute;
    top:50%;
    left:50%;
    width: 450px;
    background: whitesmoke;
    border-radius: 10px;
    transform:translate(-50%, -50%)
}
#test1 .wrapper header{
    color:violet;
    font-size:23px;
    font-weight:500;
    padding: 17px 30px;
    border-bottom:1px solid #bfbfbf;
}
#test1 .wrapper header.active {
    cursor:move;
    user-select:none;
}
#test1 .wrapper .content{
    display:flex;
    padding: 30px 30px 40px 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#test1 .content .icon{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 5px solid #6F36FF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#test1 .content .icon i{
    color: #6F36FF;
    font-size: 60px;
  }
#test1 .content .title{
    margin: 15px 0;
    font-size: 29px;
    font-weight: 500;
}
#test1 .content p{
    font-size:16px;
    text-align:center;
}